
.header-photo{
    height: 550px;

    background-image: url(../../images/backgraund.png);
    background-size: cover;
    background-repeat: no-repeat;    
    position: relative;

    border: 1px solid;
}

.header-title-name{
    color: rgba(0, 0, 0, 0.695);
    font-size: 28px;
}
.header-text-name{
    color: rgba(0, 0, 0, 0.695);
    text-align: center;
}

.header-name{
    display: inline-block;
    position: absolute;
    top: 130px;
    right: 220px;
    z-index: 1;
}

.header-email{
    display: inline-block;
    position: absolute;
    top: 395px;
    right: 100px;
}

.header-email-text{
    color: #fff;
}

.header-email-item{
    color: rgb(91 149 233);
    text-align: center;
}

/* Navigaion */
.nav{
    height: 40px;
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.header-nav-list-item{
    display: block;
    text-align: center;
}


.header-nav-item {
    width: 40%;
}
.header-nav-item ul{
    display: flex;
    gap: 10px;
    justify-content: center;
}

.header-nav-item a{
    color: #000;
    padding: 10px 10px;
    transition: all 0.5s ease-out;
}
.header-nav-item a:hover{
    background-color: blue;
    color: #fff;
    border-radius: 15px;
}

#About-me:target{
    background-color: blue;
    color: #fff;
    border-radius: 15px;
}