.hero-section{
   height: 500px;
   background-color: burlywood;
   position: relative;
   z-index: 2;
}

.section__content{
   width: 100%;
   display: flex;
   justify-content: center;
   height: 100%;
   align-items: center;
   position: absolute;
}


.hiden{
   display: none;
}